body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    margin: 5px;
}

li {
    background: white;
    padding: 10px;
    margin: 5px auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
